$tooltip-bg-body   : $white;
$tooltip-bg-header : $primary;
$font-color: $sandbox-dark-grey;
$shadow-color: rgba(23, 23, 9, 0.1);

#body-wrapper {
	[class*="tooltip--"]:after {
		text-shadow: 0 -1px 0 $tooltip-bg-body;
		box-shadow: 0 2px 3px $shadow-color, 0 0 0 1px $shadow-color;
		width: initial;
	}

	.tooltip--bottom-left:before, .tooltip--bottom-right:before, .tooltip--bottom:before {
		border-bottom-color: $tooltip-bg-body;	
	}

	.tooltip--top-left:before, .tooltip--top-right:before, .tooltip--top:before {
		border-top-color: $tooltip-bg-body;
	}

	.tooltip:after {
		white-space: pre;
		background-color: $tooltip-bg-body;
		color: $font-color;
		font-family: "DejaVuSerifCondensed", "serif";
	}
}

#header {
	[class*="tooltip--"]:after {
		text-shadow: 0 -1px 0 $tooltip-bg-header;
	}

	.tooltip--bottom-left:before, .tooltip--bottom-right:before, .tooltip--bottom:before {
		border-bottom-color: $tooltip-bg-header;	
	}

	.tooltip--top-left:before, .tooltip--top-right:before, .tooltip--top:before {
		border-top-color: $tooltip-bg-header;
	}

	.tooltip:after {
		background-color: $tooltip-bg-header;
	}
}