// Paths
@fa-font-path:   "../fonts";

// Colour variables

$red: #690202;
$bright-red: #FF0000;
$white-bis: #dedbd0;
$white-ter: #b7b4ab;
$grey: #504e4e;
$grey-dark: #262525;

// Colour mappings

$primary: $red;
$danger: $bright-red;