// Paths
@fa-font-path:   "../fonts";

// Fonts
$family-serif: "DejaVuSerifCondensed", "Palatino Linotype";
$family-primary: $family-serif;

// Colour variables

$blue: hsl(217, 71%, 53%);
$turquoise: hsl(171, 100%, 41%);
$background-color: #d8d8d8;
$yellow: #fef368;
$light-blue: #41b7d8;

// Colour mappings
$primary: $light-blue;
$info: $yellow;