body {
	font-family: $family-serif;
}

a {
	font-weight: 500;

	&:hover, &:hover .subtitle {
		color: $primary;
		box-shadow: 0px 3px 0px 0px #fef368;
	}

	&.button, &.delete, &.icon, &.navbar-item, &.navbar-link, &.card-header-icon {
		box-shadow: none;
	}

	&.card-header-icon:not(:hover), &.icon:not(:hover) {
		color: $sandbox-dark-grey;
	}
}

#header a {
	&:hover, &:hover .subtitle {
		box-shadow: none;
	}
}

strong {
	color: inherit;

	a {
		font-weight: bold;
	}
}

.card-header-icon a {
	color: $sandbox-dark-grey;

	&:hover {
		color: $primary;
		box-shadow: none;
	}
}

p {
	line-height: 1.6rem;
}

.content ul {
	list-style: square;
}

.hero-body {
	padding-bottom: 2rem;
	font-family: "DejaVuSerifCondensed";
	color: $sandbox-dark-grey;

	.subtitle.is-5 {
		font-size: 1.2rem;
	}

	.is-ancestor {
		margin-left: 0;
	}

	a {
		color: $sandbox-dark-grey;
		font-family: "DejaVuSerifCondensed";
	}

	#logo {
		width: 180px;
		margin-right: 5px;
		padding: 0;
		display: flex;
		align-items: flex-end;

		#logo-background {
			width: 180px;
			height: 160px;
			background-color: $info;
		}

		.is-child {
			padding: 1.5rem;

			.title {
				font-family: "DejaVuSerifCondensed";
				font-weight: 300;
			}
		}

		&:hover {
			.title {
				color: $primary;
			}

			a {
				box-shadow: none;
			}
		}
	}

	#addbutton {
		background-color: $info;

		.subtitle {
			padding: .5rem;
		}

		&:hover {
			background-color: $primary;

			.subtitle {
				box-shadow: none;
				color: $sandbox-dark-grey;
			}
		}
	}

	#main-menu {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;

		a:hover {
			color: $primary;
			box-shadow: none;
		}
	}

	#user-menu {
		display: flex;
		justify-content: flex-end;
		flex: inherit!important;
	}

	#action-menu {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;

		.horizontal-list > li {
			padding: 0;

			.subtitle {
				padding: .5rem;
			}
		}
	}
}

#main-content {
	padding-top: 0;
	padding-bottom: 0;
	background-color: white;

	.card {
		border-top: 2px solid $sandbox-grey;
		border-bottom: 2px solid $sandbox-grey;
		box-shadow: none;

		.card-header {
			box-shadow: none;
			border-bottom: 1px solid #4a4a4a;
			font-family: "DejaVuSerifCondensed";

			.card-header-title {
				font-size: 1.25rem;

				label {
					font-weight: normal;
					margin-right: .5rem;
				}
			}
		}

		.panel {
			margin-bottom: 1.5rem;

			.panel-block {
				display: flex;
				justify-content: space-between;
				border-top: none;
				border-bottom: 1px solid $sandbox-dark-grey;
				border-left: none;
				border-right: none;

				&:hover {
					box-shadow: inset 6px 0px 0px 0px $info;
					border-bottom: 1px solid $sandbox-dark-grey;
					background-color: $white;
					color: $primary;
				}

				&.is-active {
					box-shadow: none;
					background-color: $info;
					color: $sandbox-dark-grey;
				}

				.tag {
					@extend .is-primary;
					margin-left: .5rem;
				}
			}
		}

		.card-content {
			font-family: "DejaVuSerifCondensed";
			padding-top: 1rem;

			.is-one-line {
				display: flex;
				// margin-bottom: .5rem;

				.label {
					margin-right: .5rem;

					&:not(:last-child) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.footer {
	background-color: white;
	font-family: "DejaVuSerifCondensed";
	padding-top: 1rem;

	a {
		color: $sandbox-dark-grey;

		&:hover {
			color: $primary;
		}
	}
}
