.paradigm.table {
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    th, td {
        box-shadow: 1px 1px inset #d0d0d0;
    }

    tr, td, th {
        border: none;

        &.is-bordered-left {
            box-shadow: 0px 1px inset #d0d0d0, 2px 0px inset $grey-darker;
            -webkit-box-shadow: 0px 1px inset #d0d0d0, 2px 0px inset $grey-darker;
        }

        &.is-bordered-right {
            border-right: 2px solid $grey-darker;
        }

        &.is-bordered-bottom {
            border-bottom: 2px solid $grey-darker;
        }

        .structure-annotation {
            margin-left: .25rem;
            background-color: #FFFF99;
        }
    }

    tr.is-bordered-top {
        td, th {
            box-shadow: 1px 0px inset #d0d0d0, 0px 2px inset $grey-darker;

            &.is-bordered-left {
                box-shadow: 2px 2px inset $grey-darker;
            }
        }
    }

    th {
        position: sticky;
        background-color: $white;

        &.is-col-0 {
            left: 0;
        }

        &.is-col-1 {
            left: 7.3em + 0.75em * 2;
        }

        .header-container {
            width: 7.3em;
        }
    }

    thead th {
        z-index: 10;

        &.is-col-0, &.is-col-1 {
            z-index: 11
        }
    }

    tbody th {
        z-index: 9;
    }

    .is-row-0 th {
        top: 0;
    }

    .is-row-1 th {
        top: 3rem;
    }

    .is-row-2 th {
        top: 6rem;
    }

    .is-row-3 th {
        top: 9rem;
    }

}
