table.table.phonemes-table > tbody > tr > td {
	padding: 0;
	height: 100%;
}

table.phoneme-table {
	border: none;
	height: 100%;

	td {
		border: none;

		& + td {
			border-left: 1px solid $grey-lighter;
		}
	}
}